<div class="quote rounded">
    <q>Gratitude turns what we have into enough</q>
    <span class="italic">Aesop</span>
</div>
<div class="smallWidth">
    <h2>Sign Into Your Account</h2>
    <form>
        <label class="italic">Email:<input type="email" name="email" required></label>
        <label class="italic">Password:<input type="password" name="password" required></label>
        <input type="button" value="Login" onclick="login()"></form><p class="italic orange link" onclick="viewCreateAccount()">No account? Create one.</p>
    </form>
</div> 