<!DOCTYPE html>
<html>
<head>
  <title>Gratia</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="js/script.js"></script>
</head>

<body>
  <header>
    <img src="/images/logo.svg" alt="Gratia Logo">
    <h1>A Simple Gratitude Journal</h1>
  </header>

  <main id='mainArea'>
    <% if(typeof entrypage != 'undefined' && entrypage != null){ %>
      <% include ../partials/entryList %>
    <% } else {%>
      <% include ../partials/login %>
    <% } %>
    
  </main>
  <div id="overlay">
    <div class="dark-blur" ></div>
    <div class='white-over rounded' id="overlayContent">
      <div class='close'><span onclick='closeOverlay()'>✖</span></div>
      <div id='children'>
    <% if(locals.overlay){ %>
      <%= overlay %>
    <% } %>
      </div>
    </div>
  </div>
</body>
</html>
